*{
  box-sizing: border-box;
  transition: 0.3s;
}

:root{
  --background: #FEFEFE;
  --logo: #3B3A2C;
  --nav-text-color: #62ED3E;
}

body{
 background-color: var(--background) ;
 font-family: pop;
 display: flex;
 flex-direction: column;
}

body::-webkit-scrollbar{
  display: none;
}

@font-face {
  font-family: pop;
  src: url(../public/poppins/Poppins-Regular.ttf);
}



nav{
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
 width: 100%;
 height: 12vh;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: var(--background);
  margin-top: -10px;
}



nav::-webkit-scrollbar{
  display: none;
}

main{
  /*border: 1px solid red;*/
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;

  align-items: center;
  height: calc(90vh - 50px);
  overflow-y: scroll;
}

.mainregister{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

main::-webkit-scrollbar{
  display: none;
}

.everything{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 70% ;
  /*border: 1px solid red;*/
}

button{
  padding: 20px;
  width: 130px;
  border: none;
  background-color: var(--nav-text-color);
  color: var(--background);
  font-family: pop;
  border-radius: 10px;
}

.illustration{
  content: url(../public/illustration.png);
  width: 40%;
  height: 80%;
}

nav h1{
  text-align: center;
  font-size: 200%;
  color: var(--logo);
}

p{
  border: 1px solid var(--background);
  margin-top: -10px;
  text-align: center;
  color: var(--nav-text-color);
  width: 100%;
  max-width: 450px;
 
}

.logo{
  margin-left: 5%;
  color: var(--logo);
  text-decoration: none;
}

.logindiv{
  display: flex;
  justify-content: end;
  width: 100%;
  height: 100%;
  align-items: center;
 min-width: 535px;
}

.login{
  margin-right: 5%;
  position: relative;
  text-decoration: none;
}

.log{
  background-color: var(--nav-text-color);
  color: var(--background);
  padding: 10px;
  border-radius: 10px;
}

nav h4{
  color: var(--nav-text-color);
}

.icon{
  color: var(--nav-text-color);
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*register*/

.choosing{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

.card{
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--nav-text-color);
  width: 30%;
  color: var(--background);
  justify-content: center;
  border-radius: 20px;
}

.yes{
  background-color: var(--background);
  color: var(--nav-text-color);
}

.buyermain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 70%;
  justify-content: space-between;
}

input{
  margin-bottom: 15px;
  padding: 15px;
  border: 3px solid #8f8e81 ;
  outline: none;
  border-radius: 10px;
  transition: 0.3s;
  font-family: pop;
}

.regbutt{
  position: relative;
   margin: 0 auto;
  padding: 13px;
}

.red{
  border-color:  hsl(354, 100%, 66%);
}


/*register*/

/*mobile?*/
.logindivmobile{
  display: none;
}

.menuitems{
  display: none;
}


/*active*/

.log:hover{
  /*color: var(--nav-text-color);
  background-color: var(--background);*/
  background-color: #9bf086;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

nav h4:hover{
  background-color: var(--nav-text-color);
  color: var(--background);
  padding: 10px;
  height: 100%;
  border-radius: 10px;
}

button:hover{
  background-color: #9bf086;
  cursor: pointer;
}

.icon:hover{
  cursor: pointer;
  padding: 2px;
  border: 1px solid var(--background);
  background-color: var(--nav-text-color);
  color: var(--background);
  border-radius: 20px;
}

/*register*/

.yes:hover{
  background-color: #d8d0d0;
  color: var(--background);
}

.card:hover{
  width: 35%;
  height: 75%;
}

input:focus{
  border-color: var(--logo);
}

.red:focus{
  border-color:  hsl(354, 100%, 66%);
}

/*register*/

/*buyerpage */


.profile:hover{
  cursor: pointer;
  color: #9bf086;
}

/*buyerpage */


/*active*/

.buyermain .login{
  margin: 0 auto;
}

/*media queries*/

@media (max-width:900px){
  .logindiv{
    display: none;
  }


  
 
  .menuicon{
    width: 30px;
    height: 30px;
  }
  

  #menucheck{
    display:none ;
  }

  #menubutton{
    z-index: 2;
    position: relative;
    top: 10px;
    margin-left: 70%;
    width: fit-content;

  }
  
  .godmenu{
    z-index: 3;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 95vw;
    height: fit-content;
    /*margin-left: 70%;*/
    /*left: 75%;*/
  }


  body{
    overflow-x: hidden;
  }

  nav{
    z-index: 2;
 
    
    /*border: 1px solid red;*/
  }

  

  .menuicon{
  }

  .menuitems{
    z-index: 1;
    width: fit-content;
    height: fit-content;
    top: -350px;
    position: relative;
    display: flex ;
    flex-direction: column;
  background-color: var(--nav-text-color);
   
    transition: top 0.3s;
    border-radius: 10px;
    transition: 0.5s;
  }

  

  #menucheck:checked  ~  .menuitems{
    top: 10px;
   }
  .menuitems ul .link{
    text-decoration: none;
    color: var(--background);
  }

  .menuitems ul .link li:hover{
    background-color: var(--background);
    color: var(--nav-text-color);
  }

  .menuitems ul .link .profile{
    color: var(--background);
  }

  .menuitems ul li{
    margin-top: 20px;
    margin-right: 10px;
    list-style: none;
  }

 

  .everything{
    width: 100%;
   
  }
  
  .menubutt{
    background-color: var(--background);
    color: var(--logo);
  }

  .menubutt:hover{
    background-color: var(--background);
    color: var(--logo );
  }

  /*login*/
form{
  width: 90%;
}



  /*login*/

  

}

@media (max-width:600px){
 
}

/*media queries*/